@{
    ViewData["Title"] = "Buscar CEP";
}

<div class="container">
    <h2>Buscar CEP</h2>

    <form method="post">
        <input type="text" id="cep" name="cep" required placeholder="Digite o CEP">
        <button type="submit">Buscar</button>
    </form>
</div>
